
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraform.lock.hcl


.env
.env.*


__pycache__/
*.pyc
.venv/
venv/


report.json
report.md